#ncard_table {
    overflow-x: scroll;
}

#ncard_table table {
    table-layout: fixed;
}

#ncard_table th {
    width: 200px;
    
}

#ncard_table tr > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#ncard_table tr > :last-child {
    position: sticky;
    width: 100px;
    background-color: white;
    right: 0px;
    text-align: center;
}