<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add info</title>
</head>
<body>
    <h1>add info</h1>

<form method="post" action="{% url 'app01test:info_add' %}">
    {% csrf_token %}
    <input type="text" name="title" placeholder="title"> <br>
    <input type="text" name="firstname" placeholder="firstname"><br>
    <input type="text" name="lastname" placeholder="lastname"><br>
    <input type="text" name="location" placeholder="location"><br>
    <input type="text" name="primary_organisation" placeholder="primary_organisation"><br>
    <input type="text" name="other_organisation" placeholder="other_organisation"><br>
    <input type="text" name="Email" placeholder="Email"><br>
    <input type="text" name="Phone" placeholder="Phone"><br>
    <input type="text" name="NCARD_collaborator" placeholder="NCARD_collaborator"><br>
    <input type="text" name="Project" placeholder="Project"><br>
    <input type="text" name="Twitter_handle" placeholder="Twitter_handle"><br>
    <input type="text" name="Profile_link" placeholder="Profile_link"><br>
    <input type="submit" value="submit">

</form>
</body>
</html>
