{% extends 'events/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Project{% endblock %}

{% block content%}
    <h1 class="ncard-dark-green">Add Project</h1>
    <div class="close_position"><a href="{% url 'list-projects' %}" class="aui_close">&times;</a></div>
    <div class="form-margin">
        <form action="{% url 'add-project' %}" method=POST>
            {% csrf_token %}
            {% crispy form %}
            <input class="btn btn-lg ncard_btn stick" type="submit" value="Add">
        </form>
    </div>
{% endblock %}
