{% extends 'events/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Event{% endblock %}

{% block content %}
    <h1 class="ncard-dark-green">Add Event</h1><br>
    <div class="close_position"><a href="{% url 'list-events' %}" class="aui_close">&times;</a></div>
    <div class="form-margin">
        <form action="{% url 'add-events' %}" method=POST>
            {% csrf_token %}
            {% crispy form %}
            <input class="btn btn-lg ncard_btn stick" type="submit" value="Add">
        </form>
    </div>
{% endblock %}