{% extends 'events/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="screen" >
{% block title %}Add Grant{% endblock %}

{% block content%}
    <h1 class="ncard-dark-green">Add Grant</h1><br>
            <div class="close_position"><a href="{% url 'list-grants' %}" class="aui_close">&times;</a></div>
    <div class="form-margin">
        <form action="{% url 'add-grant' %}" method=POST>
            {% csrf_token %}
            {% crispy form %}
            <input class="btn btn-lg ncard_btn stick" type="submit"  value="Add">
        </form>
    </div>
{% endblock %}