{% extends 'events/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="screen" >
{% block title %}Edit Event{% endblock %}

{% block content%}
    <a class="close-btn" href="{% url 'list-awards' %}">
        <button type="button" class="btn-close" aria-label="Close"></button>
    </a>
    <h1 class="ncard-dark-green">Edit Award</h1><br>
    <div class="form-margin">
        <form action="{% url 'edit-award' form.instance.id %}" method=POST>
            {% csrf_token %}
            {% crispy form %}
            <input class="btn btn-lg ncard_btn stick" type="submit" value="Save">
        </form>
    </div>
{% endblock %}
