{% extends 'events/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Edit Project{% endblock %}

{% block content%}
    <h1 class="ncard-dark-green">Edit Project</h1>
    <div class="close_position"><a href="{% url 'list-projects' %}" class="aui_close">&times;</a></div>
    <br>
    <div class="form-margin">
        <form action="{% url 'edit-project' form.instance.id %}" method=POST>
            {% csrf_token %}
            {% crispy form %}
            <input class="btn btn-lg ncard_btn stick" type="submit" value="Save">
        </form>
    </div>
{% endblock %}