{% extends 'events/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Person{% endblock %}

{% block content%}
    <h1 id="ncard-dark-green">Edit Person</h1>
    <br>
    <div style="width: 90%; height: 90%; margin: 5%; margin-top: 0%;">
        <form action="{% url 'edit-person' form.instance.id %}" method=POST>
            {% csrf_token %}
            {% crispy form %}
            <input class="btn btn-lg ncard_btn" type="submit" value="Save" style="position: fixed; bottom: 50px; right: 50px;">
        </form>
    </div>
{% endblock %}
