{% extends 'events/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Person{% endblock %}

{% block content %}
    <a class="btn btn-close close-btn" href="{% url 'list-people' %}"></a> 
    <h1 class="ncard-dark-green">Edit Person</h1><br>
    <div class="form-margin">
        <form action="{% url 'edit-person' form.instance.id %}" method=POST>
            {% csrf_token %}
            {% crispy form %}
            <input class="btn btn-lg ncard_btn stick" type="submit" value="Save">
        </form>
    </div>
{% endblock %}
