{% extends 'events/base.html' %}
{% load static %}

{% block title %}Dashboard | NCARD{% endblock %}

{% block content%}
    <div class="row mt-3">
        <div class="text-center">
            <h1 class="ncard-dark-green" >NCARD Dashboard</h1>
        </div>
    </div>

    <div class="container">
        <div class="ncard-dashboard">
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'list-awards' %}">
                        <img class="icon" src="{% static 'awards-icon.png' %}" alt="awards icon">
                        Awards
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'list-events' %}">
                        <img class="icon" src="{% static 'events-icon.png' %}" alt="events icon">
                        Events
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'list-grants' %}">
                        <img class="icon" src="{% static 'grants-icon.png' %}" alt="grants icon">
                        Grants
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'list-organisations' %}">
                        <img class="icon" src="{% static 'organisations-icon.png' %}" alt="organisations icon">
                        Organisations
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'list-people' %}">
                        <img class="icon" src="{% static 'people-icon.png' %}" alt="people icon">
                        People
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'list-projects' %}">
                        <img class="icon" src="{% static 'projects-icon.png' %}" alt="projects icon">
                        Projects
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'list-publications' %}">
                        <img class="icon" src="{% static 'publications-icon.png' %}" alt="publications icon">
                        Publications
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'list-students' %}">
                        <img class="icon" src="{% static 'students-icon.png' %}" alt="students icon">
                        Students
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}