{% extends 'events/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Phone Book{% endblock %}

{% block content%}
<div class="row mb-4">
    <div class="col-md-3">
        <h1 class="ncard-dark-green" >Phone Book</h1>
    </div>
    <div class="col-md-7"></div>
    <div class="col-md-2 text-align-right">
        <button class="ncard_CTA" onclick="getExport()">Export</button>
    </div>
</div>

<table id="query-form" class="table table-striped">
    <tr>
        <th scope="col"> Title </th>
        <th scope="col"> Full Name </th>
        <th class="col-width-350"  scope="col"> Organization Name </th>
        <th scope="col"> Phone (office) </th>
        <th scope="col"> Phone (mobile) </th>
        <th class="col-width-350" scope="col"> Email Address</th>
    </tr>
    {% for ele in data %}
    <tr>
        <td>
            {{ ele.primary_contact.title }}
        </td>
        <td>
            {{ ele.primary_contact.full_name }}
        </td>
        <td>
            {{ ele.name }}
        </td>
        <td>
            {{ ele.primary_contact.phone_office }}
        </td>
        <td>
            {{ ele.primary_contact.phone_mobile }}
        </td>
        <td>
            {{ ele.primary_contact.email }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}


{% block custom_js %}
<script>
    function quoteCSV(str) {
        const escaped_str = str.replaceAll('"', '""');
        return `"${escaped_str}"`;
    }

    function getExport() {
        const table = document.getElementById("query-form");
        let csvContent = "";
        for (let i = 0, rows = table.rows.length; i < rows; i++) {
            for (let j = 0, cells = table.rows[i].cells.length; j < cells; j++) {
                if (j !== 0) {
                    csvContent += ",";
                }
                csvContent += quoteCSV(table.rows[i].cells[j].innerText);
            }
            csvContent += "\n";
        }

        const a = document.createElement('a');
        const blob = new Blob([csvContent], {type: "data:text/csv;charset=utf-8,"});
        const url = URL.createObjectURL(blob);
        a.setAttribute('href', url);
        a.setAttribute('download', "phone_book.csv");
        a.click();
        URL.revokeObjectURL(url);
    }
</script>
{% endblock %}

