{% extends 'events/base.html' %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block title %}Awards | NCARD Table{% endblock %}

{% block content%}

<div class="row mb-4">
    <div class="col-md-3">
            <h1 class="ncard-dark-green" >Awards</h1>
    </div>

    {% if filter %}
        <div class="col-md-4 self-align-center">
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline'  %}
            </form>
        </div>
    {% endif %}

    <div class="col-md-3"></div>

    <div class="col-md-2 text-align-right">
        <a href="{% url 'add-award' %}">
            <button class="ncard_CTA">ADD</button>
        </a>
    </div>
</div>

<div id="ncard_table">
    {% render_table table 'django_tables2/bootstrap4.html' %}
</div>

<div class="export_csv">
    <a class="btn export-btn" href="{% querystring '_export'='csv' %}">Export</a>
</div>
{% endblock %}