{% extends 'events/base.html' %}

{% block title %}Awards | NCARD Table{% endblock %}

{% block content%}

    <div class="row mb-4">
        <div class="col-md-10">
            <h1 class="ncard-dark-green">Awards</h1>
        </div>
        <div class="col-md-2">
            <a href="{% url 'add-organisation' %}">
                <button class="ncard_CTA">ADD</button>
            </a>
        </div>
    </div>

    <div id="ncard_table">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th scope="col">Award Type</th>
                    <th scope="col">Agency</th>
                    <th scope="col">Name</th>
                    <th scope="col">Recipient</th>
                    <th scope="col">Status</th>
                    <th scope="col">Details</th>
                    <th scope="col">First </th>
                    <th scope="col">Number of Years</th>

                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for organisation in organisations_list %}
                <tr>
                    <td data-type="name">{{ organisation.name }}</td>
                    <td data-type="primary_contact">{{ organisation.primary_contact }}</td>
                    <td data-type="phone">{{ organisation.phone }}</td>
                    <td data-type="website">{{ organisation.website }}</td>
                    <td data-type="twitter_handle">{{ organisation.twitter_handle }}</td>
                    <td data-type="type">{{ organisation.get_organisation_type_display }}</td>
                    <td>
                        <a href="{% url 'edit-organisation' organisation.id %}" class="btn btn-sm ncard_btn">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

    {% if organisation.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if organisation.has_previous %}
          <li class="page-item">
            <a class="page-link ncard-dark-green" href="?page={{ organisation.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% for p in organisation.paginator.page_range %}
          {% if organisation.number == p %}
            <li class="page-item"><a class="page-link ncard-current-page" href="#">{{ p }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link ncard-other-pages" href="?page={{ p }}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        {% if organisation.has_next %}
          <li class="page-item">
            <a class="page-link ncard-dark-green" href="?page={{ organisation.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
        {% endif %}
        </ul>
    </nav>
{% endif %}

{% endblock %}

{% block custom_js %}

    <script src="/static/table_edit.js"></script>

{% endblock custom_js %}