{% extends 'events/base.html' %}

{% block title %}Awards | NCARD Table{% endblock %}

{% block content%}

    <div class="row mb-4">
        <div class="col-md-10">
            <h1 class="ncard-dark-green">Awards</h1>
        </div>
        <div class="col-md-2">
            <a href="{% url 'add-award' %}">
                <button class="ncard_CTA">ADD</button>
            </a>
        </div>
    </div>

    <div id="ncard_table">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th scope="col">Agency</th>
                    <th scope="col">Award Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">Recipients</th>
                    <th scope="col">Status</th>
                    <th scope="col">Established in</th>
                    <th scope="col">Number of Years</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for award in awards %}
                <tr>
                    <td data-type="agency">{{ award.agency }}</td>
                    <td data-type="award_type">{{ award.get_award_type_display }}</td>
                    <td data-type="name">{{ award.name }}</td>
                    <td data-type="recipients">
                      {% for recipient in award.recipients.all %}
                        {{ recipient.full_name }} &
                      {% endfor %}
                    </td>
                    <td data-type="status">{{ award.get_status_display }}</td>
                    <td data-type="year">{{ award.year }}</td>
                    <td data-type="no_year">{{ award.no_year }}</td>
                    <td>
                        <a href="{% url 'edit-award' award.id %}" class="btn btn-sm ncard_btn">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

  {% if awards.has_other_pages %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if awards.has_previous %}
          <li class="page-item">
            <a class="page-link ncard-dark-green" href="?page={{ awards.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
              <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% for p in awards.paginator.page_range %}
          {% if awards.number == p %}
            <li class="page-item"><a class="page-link ncard-current-page" href="#">{{ p }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link ncard-other-pages" href="?page={{ p }}">{{ p }}</a></li>
          {% endif %}
        {% endfor %}

        {% if awards.has_next %}
          <li class="page-item">
            <a class="page-link ncard-dark-green" href="?page={{ awards.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&raquo;</span>
          </li>
        {% endif %}
        </ul>
    </nav>
  {% endif %}

{% endblock %}

{% block custom_js %}

    <script src="/static/table_edit.js"></script>

{% endblock custom_js %}