{% extends 'events/base.html' %}

{% block title %}NCARD Organisations{% endblock %}

{% block content%}
    <h1 class="mb-4">Organisations</h1> 
    <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Primary Contact</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Website</th>
            <th scope="col">Twitter</th>
            <th scope="col">Organisation Type</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for organisation in organisations_list %}
            <tr>
                <td class="editable" data-id="{{ organisation.id }}" data-type="name">{{ organisation.name }}</td>
                <td class="editable" data-id="{{ organisation.id }}" data-type="primary_contact">{{ organisation.primary_contact }}</td>
                <td class="editable" data-id="{{ organisation.id }}" data-type="phone">{{ organisation.phone }}</td>
                <td class="editable" data-id="{{ organisation.id }}" data-type="website">{{ organisation.website }}</td>
                <td class="editable" data-id="{{ organisation.id }}" data-type="twitter_handle">{{ organisation.twitter_handle }}</td>
                <td class="" data-id="{{ organisation.id }}" data-type="type">{{ organisation.get_type_display }}</td>
                <td>
                    <input type="button" class="btn btn-secondary btn-sm" style="min-width: 60px;" value="Update" onclick=""/>
                    <input type="button" class="btn btn-danger btn-sm" style="min-width: 60px;" value="Delete" onclick="deleteRow(this)"/>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block custom_js %}

    <script src="/static/table_edit.js"></script>
    <script>
        function sendToServer(id,value,type){
            const formData = new FormData();
            formData.append("id", id)
            formData.append("type", type)
            formData.append("value", value)
            fetch("{% url 'save_organisations' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: formData
            })
            .then(function(response){
                console.log(response);
            })
            .catch(function(error){
                console.log("Error Occured");
            });
        }
    </script>

{% endblock custom_js %}