{% extends 'events/base.html' %}

{% block title %}NCARD Organisations{% endblock %}

{% block content%}
    <div class="row mb-4">
        <div class="col-md-10">
            <h1>Organisations</h1>
        </div>
        <div class="col-md-2">
            <a href="{% url 'add-organisation' %}" class="btn btn-primary btn-lg" style="width: 100%;">Add</a>
        </div>
    </div>
    <div id="ncard_table">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Primary Contact</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Website</th>
                <th scope="col">Twitter</th>
                <th scope="col">Organisation Type</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>

            <tbody>
                {% for organisation in organisations_list %}
                <tr>
                    <td class="" data-id="{{ organisation.id }}" data-type="name">{{ organisation.name }}</td>
                    <td class="" data-id="{{ organisation.id }}" data-type="primary_contact">{{ organisation.primary_contact }}</td>
                    <td class="" data-id="{{ organisation.id }}" data-type="phone">{{ organisation.phone }}</td>
                    <td class="" data-id="{{ organisation.id }}" data-type="website">{{ organisation.website }}</td>
                    <td class="" data-id="{{ organisation.id }}" data-type="twitter_handle">{{ organisation.twitter_handle }}</td>
                    <td class="" data-id="{{ organisation.id }}" data-type="type">{{ organisation.get_organisation_type_display }}</td>
                    <td>
                        <a href="{% url 'edit-organisation' organisation.id %}" class="btn btn-primary btn-sm" style="min-width: 60px;">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block custom_js %}

    <script src="/static/table_edit.js"></script>

{% endblock custom_js %}