{% extends 'events/base.html' %}

{% block title %}NCARD People{% endblock %}

{% block content%}
    <div class="row mb-4">
        <div class="col-md-10">
            <h1>People</h1>
        </div>
        <div class="col-md-2">
            <a href="{% url 'add-person' %}" class="btn btn-primary btn-lg" style="width: 100%;">Add</a>
        </div>
    </div>

    <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Contact Info</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for person in people_list %}
            <tr>

                <td class="editable" data-id="{{ person.id }}" data-type="title">{{ person.title }}</td>
                <td class="editable" data-id="{{ person.id }}" data-type="given_name">{{ person.given_name }}</td>
                <td class="editable" data-id="{{ person.id }}" data-type="middle_name">{{ person.middle_name }}</td>
                <td class="editable" data-id="{{ person.id }}" data-type="surname">{{ person.surname }}</td>
                <td>
                    <a href="{% url 'edit-person' person.id %}" class="btn btn-primary btn-sm" style="min-width: 60px;">Contact Details</a>
                </td>
                <td>
                    <input type="button" class="btn btn-danger btn-sm" style="min-width: 60px;" value="Delete" onclick="deleteRow(this)"/>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block custom_js %}

    <script src="/static/table_edit.js"></script>
    <script>
        function sendToServer(id,value,type){
            const formData = new FormData();
            formData.append("id", id)
            formData.append("type", type)
            formData.append("value", value)
            fetch("{% url 'save_people' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                body: formData
            })
            .then(function(response){
                console.log(response);
            })
            .catch(function(error){
                console.log("Error Occured");
            });
        }
    </script>

{% endblock custom_js %}