{% extends 'events/base.html' %}

{% block title %}NCARD People{% endblock %}

{% block content%}

    <h1>People</h1> 
    </br>
    <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Contact Info</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for person in people_list %}
            <tr>
                <th scope="row">{{ person.id }}</th>
                <td style="width: auto;" class="editable" data-id="{{ person.id }}" data-type="title">{{ person.title }}</td>
                <td style="width: auto;" class="editable" data-id="{{ person.id }}" data-type="given_name">{{ person.given_name }}</td>
                <td style="width: auto;" class="editable" data-id="{{ person.id }}" data-type="middle_name">{{ person.middle_name }}</td>
                <td style="width: auto;" class="editable" data-id="{{ person.id }}" data-type="surname">{{ person.surname }}</td>
                <td>
                    <input type="button" class="btn btn-primary btn-sm" style="min-width: 60px;" value="Contact Details" onclick=""/>
                </td>
                <td>
                    <input type="button" class="btn btn-secondary btn-sm" style="min-width: 60px;" value="Update" onclick=""/>
                    <input type="button" class="btn btn-danger btn-sm" style="min-width: 60px;" value="Delete" onclick="deleteRow(this)"/>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block custom_js %}

    <script src="/static/table_edit.js"></script>

{% endblock custom_js %}